.note{
    min-width: 250px;
    max-width: 330px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding:20px;
    border-radius: 10px;
    color: #26f;
    margin: 10px;
}
.note:hover{
    box-shadow: 0 4px 4px rgba(41, 41, 41, 0.486);
}
.footer-note{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-note{
    margin-bottom: 10px;
}
.header-note > h2{
    font-size: 1.6rem;
    font-weight: bold;
}
.header-note p{
    font-size: 0.8em;
}
.delete-icon{
    cursor: pointer;
}
@media(max-width:501px) {
    .note{
        width: 88%;
        max-width: 100%;
    }
}